*{
	margin: 0;
	padding: 0;
}

.videoBox{ 
	width:550px; 
	margin:0px auto;
}
.controlBox{ 
	border: 1px solid black;
	padding:10px;
}
button {
	cursor: pointer;
}

#scroll-container {
	height: 20px;
	width: 100%;
	overflow: hidden;
	background-color: #ccc;
}

#scroller { 
	height: 20px;
	
	width: 20px;
	border-radius: 50%;
	background-color: blue;
	
}
.box {
	height: 50px;
	width: 50px;
	display: inline-block;
}

.playlist {
	width: 200px;
	overflow: hidden;
}
.playlist img {
	width: 100%;
	float: left;
	padding: 5px;
}
.currentvid {
	border: 5px solid red;
}
figcaption img {
	width: 200px;
}